doctype html
html(lang="en" ng-app="app")
	head
		script.
				(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NRZ373F');
		title page
		meta(name="viewport" content="width=device-width,initial-scale=1.0")
		meta(http-equiv="content-type" content="text/html; charset=UTF-8")

		link(rel="apple-touch-icon" sizes="180x180" href="/new/favicon/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/new/favicon/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/new/favicon/favicon-16x16.png")
		link(rel="manifest" href="/new/favicon/site.webmanifest")
		link(rel="mask-icon" href="/new/favicon/safari-pinned-tab.svg" color="#5bbad5")
		link(rel="shortcut icon" href="/new/favicon/favicon.ico")
		meta(name="msapplication-TileColor" content="#ffffff")
		meat(name="msapplication-config" content="/new/favicon/browserconfig.xml")
		meat(name="theme-color" content="#ffffff")

		link(href="/new/fonts/stylesheet.css" rel="stylesheet" type="text/css")
		link(href="/new/css/style.css" rel="stylesheet" type="text/css")

	block variables
	body(class=(body_class))
		noscript
			iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-NRZ373F" height="0" width="0" style="display:none;visibility:hidden")
		include layouts/header
		block content
		include layouts/footer
		block scripts
