extends layout
block variables
    - var body_class = 'white-bg'
block content
    section.pagetitle
        .pagetitle__blue-text.center Newsroom
        h1.pagetitle__title.h1.center How to Use Telemedicine for Your Doctor Visit
    section.text-section.container
        .text-section__image
            img(src="/new/images/news3.jpg" alt="")
        .text-section__text
            h4.h4 Advice for first-time telemedicine patients.
            p Telemedicine has been growing in popularity in recent years, but more people are using telehealth services than ever before due to the coronavirus pandemic. Many health systems are asking patients to use telehealth services for diagnosing non-emergency symptoms, rather than making visits to their doctor’s office, emergency rooms or urgent care. Some states have even mandated that patients move all coronavirus-related visits to telehealth to avoid exposure.
            p If you have never used telehealth services before, you might be wondering how to prepare for your first video doctor visit. Here are answers to commonly asked questions regarding telemedicine.
            h4.h4 Are telehealth services covered by insurance?
            p You might have questions about whether or not your insurance provider will cover telemedicine. You can check your benefits portal, health insurer’s app or contact your insurer directly to find out if tele health services are covered by your current plan. Medicare has expanded the coverage for telemedicine, private insurers have varying benefits. If telemedicine is not covered by your healthcare plan, you can still access telehealth services by purchasing a plan. You can also see your primary healthcare physician, but expect to pay between $50 and $80 for a tele doc visit, according to a recent report by the Wall Street Journal.
            h4.h4 Will my telemedicine visit be secure?
            p Your health information is private, and you rightly want to keep it that way. Many first-time telehealth patients worry about how secure it is. You may be concerned about what health information to share on the video call. Rest assured that any information you share on a call with a doctor is protected by HIPAA. Any health information you share will stay between the provider and your insurer. Your doctor will need to share the information on the call with your insurer to process payment for the visit. The telehealth provider will log the information from the call in an electronic health record, which is secured. You’ve probably seen your doctor logging notes during your in-person visits, so this step is no different.
            h4.h4 Are telehealth visits as good as in-person doctor appointments?
            p While telehealth visits can’t replace all in-person visits to the doctor, they can be very useful at addressing a wide range of health issues. The doctor won’t be able to touch your body or listen to your heart or lungs, so you may still be required to come in for a physical visit based on the information your provider gathers on the call. It’s important to share all relevant information and provide clear descriptions of your symptoms, so that your doctor can determine whether a physical visit is necessary or not.
            h4.h4 Here are some tips for preparing for your first telehealth visit:
            h4.h4 Keep track of your health
            ol
                li Keep a record of your existing symptoms, when they began, and the severity of them. Some symptoms to keep track of include difficulty breathing, pain in your chest, fatigue, stomach pain, diarrhea.
                li Keep track of your temperature. Fevers can be dangerous, so it’s important to take your temperature and keep track of it.
                li If you have a blog pressure monitor, keep track of that as well.
                li Is anyone else in your home ill? How long have they been ill?
                li Have you been tested for COVID-19 and what were the results?
                li Have your healthcare information ready. If you have a health insurance card have it ready.
                li If you have a preferred pharmacy, have their information ready.
                li Look up which emergency room or urgent clinic is covered by your plan, so that you can go right away if needed.
            h4.h4 Prepare your technology.
            ol
                li Are you going to use your phone, tablet, laptop or desktop for the visit? Make sure it’s fully charged, so it won’t die during the call. Keep a plug nearby in case.
                li Check that the internet connection is strong.
                li Does your health system require you to use an app for telehealth visits? If so, download it in advance and make sure you can login. An account may be required, and you may need to register ahead of the visit.
                li Make sure the lighting and your camera are good enough for your doctor to be able to see you.
                li Have a notepad handy for notes.
            h4.h4 Notes for during the call.
            ol
                li Give yourself a buffer incase your doctor is running behind.
                li Speak clearly and make sure your connection is good. It’s important that your doctor can understand you.
                li Have you and your family history ready to share.
                li Present your symptoms clearly.
                li Take down notes on your providers recommendations and ask for clarity of you are confused.
            h4.h4 Summary
            p Virtual doctor visits are very similar to in-office visits, except you can save time sitting in a waiting room. They’re much more convenient than traditional healthcare appointments, and can still help you get the care you need. It’s a good idea to prepare for your visit to save yourself and your doctor time and make sure your appointment is effective.


