extends layout
block variables
    - var body_class = 'white-bg'
block content
    section.pagetitle
        .pagetitle__blue-text.center Newsroom
        h1.pagetitle__title.h1.center Telehealth Doctor Tips: How to Provide the Best Patient Experience
    section.text-section.container
        .text-section__image
            img(src="/new/images/news4.jpg" alt="")
        .text-section__text
            p With telemedicine becoming more common, especially during the pandemic, here are communication tips to ensure a positive patient experience.
            p Telehealth care access is becoming more common for patients with non-emergency health needs. With more providers switching to telemedicine, more patients will make the switching to meeting with their doctor via video chat.
            p While you may be changing the format of your appointments, patients will still expect the same level of professionalism and care they’re used to and deserve. Here are ways healthcare providers can increase telehealth patient satisfaction.
            h4.h4 1. Don’t neglect your wardrobe.
            p First-time telehealth patients may be concerned that they won’t receive the same level of care as in-person visits. The first step towards providing reassurance is to dress the part. Whether it’s wearing your white coat or a business professional outfit, what you wear can go a long way in assuring your patients that you are dedicated to their care and committed to treating them as you would in your office.
            h4.h4 2. Be mindful of your body language.
            p Body language can carry over into video conferencing. Physical cues are important, because a lot is lost in telehealth visits. Good bedside manner should be carried over. Look into the camera, so you always appear to be engaged. Looking off camera can give the impression that you are multitasking or focused on something off camera. If taking notes during the call, make sure the patient is made aware that you’re taking notes for their medical records.
            h4.h4 3. Choose an appropriate background.
            p If you aren’t back in-office yet, make sure to choose a professional background for your calls. You don’t want to take patient calls by the pool.
            h4.h4 4. Always be prepared.
            p Always make sure you are prepared for a telehealth visit. Prepare everything you need for conducting the visit. The USD trains providers to have additional remote care tools to help providers examine a patient’s throat, ears and listen to their heart and lung sounds. In addition to lining up the proper virtual tools, you will also need to test your equipment. Make sure your camera placement is good and that your microphone and speakers work properly. Pick a space that is clear of distractions, has good lighting and is private and secure. Always review your patient’s history and chart before the visit.
            h4.h4 5. Establish a good rapport.
            p Providing a warm and inviting feeling during a telehealth appointment might not be easy, but it’s vital to establishing a good rapport with patients. Make your empathy known and felt by focusing on your patient during the entire visit. Look directly at the camera and not the projected image of the patient. Introduce yourself as the provider and attempt to make a non-medical connection with your patient.
            h4.h4 Summary
            p It’s predicted that telehealth will reach a broader audience now that many Americans are under social distancing protocols. As long as people continue to contract coronavirus, many patients will want to avoid the waiting room. It’s very important to establish a good rapport with your patients during video appointments, be prepared and provide the same high-level care given during in-person appointments.

