extends layout
block variables
    - var body_class = 'white-bg'
block content
    section.pagetitle
        .pagetitle__blue-text.center Newsroom
        h1.pagetitle__title.h1.center 5 Benefits of Telemedicine for Patients
    section.text-section.container
        .text-section__image
            img(src="/new/images/news1.jpg" alt="")
        .text-section__text
            p Have you enjoyed meeting with your doctor from the comfort of your own home? You are not alone. According to research conducted by Software Advice, 75 percent of survey respondents are interested in trying telemedicine. Telehealth services have been around in some form for years, but it is only now becoming more mainstream. Access to high-speed internet and technology has grown in recent years, making telehealth possible for many more Americans. The current pandemic has only increased its usage and adoption by healthcare providers.
            p Many who try telemedicine enjoy it for its many benefits. Here are the top advantages to using telemedicine for non-emergency health issues.
            h4.h4 1. Avoid transportation time and costs
            p Getting to a doctor’s appointment isn’t easy for most people. For one thing, many people work. It can be difficult to ask a manager for time off to go to the doctor, especially if you have just started a new job. This can cause people to delay seeing a doctor. Even if you can get some time off, it can be difficult to gauge how much time is needed. Doctors are infamous for running late to appointments. It’s not uncommon to sit in a waiting room for 30 minutes or longer. This can make you late to getting back to work. Not to mention it’s frustrating.
            p Transportation can be another challenge. Patients who don’t own a car have to take public transportation to doctor appointments, which costs money. Public transportation can also be unreliable, and you could end up being late or miss your appointment all together. Even if you do own a car, many doctors don’t cover the cost of parking fees. In addition to parking, there’s the cost of gas. If your doctor’s office is far from your work or home, you might also have to deal with traffic.
            p With a telehealth appointment, you can skip all of that and save time and money. You can have your appointment from the comfort of your home or office.
            h4.h4 2. You won’t need child or elder care.
            p If you have children or are responsible for taking care of an elderly relative, you would need to find alternative care arrangements so that you can see the doctor. If you don’t have friends or relatives that can help, you might have to pay for a sitter. Bringing children to a doctor appointment is stressful or impractical.
            h4.h4 3. You can actually get an appointment.
            p Some doctors are so backed up that it can take weeks to get an appointment. With telemedicine you can see a doctor on demand. Even if your provider doesn’t offer telemedicine or is busy, you have options. There are a number of telemedicine options on the market today for you to choose from. You can purchase a plan and see a doctor online anytime. Some insurance companies even cover this type of care.
            h4.h4 4. Avoid contracting illnesses in the waiting room.
            p Some doctors pack their day with back to back appointments. This can lead to long wait times. If you have ever had a long wait at a doctor’s office, you know how stressful it can be. Every sneeze or cough makes you worry that you’ve caught something. By staying home, you can get the care you need while avoiding exposure to illnesses.
            h4.h4 5. Improved health.
            p Seeing your doctor regularly can help you stay on top of your health. Without the challenges that come with in-office visits, you can better manage your chronic conditions, lifestyle and medication.
            h4.h4 Summary
            p There are many benefits to telemedicine. It’s no surprise why more healthcare providers are offering virtual doctor visits.