extends layout
block variables
    - var body_class = 'white-bg'
block content
    section.pagetitle
        .pagetitle__blue-text.center Newsroom
        h1.pagetitle__title.h1.center Guide to Telemedicine: What is it?
    section.text-section.container
        .text-section__image
            img(src="/new/images/news2.jpg" alt="")
        .text-section__text
            p Telemedicine is the practice of caring for patients remotely or when the provider and patient are not physically together. Modern technological advancements have made it possible for doctors to consult with patients using HIPAA compliant video conferencing.
            h4.h4 Telemedicine Definition
            p Telemedicine is a tool that makes virtual doctor visits possible. By making certain appointments virtual, telemedicine makes healthcare more accessible and cost-effective. It can even increase patient participation. Telemedicine has been around since the 1950’s, but recent advances have made it more accessible and mainstream. With telemedicine, healthcare has become accessible to people living in rural areas where it was previously difficult to get to a doctor.
            p Using telemedicine tools, doctors and patients can share information in real time via phone, tablet or computer. Doctor visits can take place in the comfort of your home or office.
            p However, telemedicine and telehealth could still be new to your provider, as the adoption of this type of technology in healthcare has been slow in the past. Luckily, the demand from a new generation of tech savvy patients has pushed for a rapid adoption in recent years.
            h4.h4 Types of Telemedicine
            p There are three main types of telemedicine that include:
            ul
                li Interactive medicine: patients and doctors communicate in real-time with HIPAA compliance.
                li Store and Forward: providers share patient information with a practitioner in another location.
                li Remote patient monitoring: remote caregivers can monitor patients with mobile medical devices that collect data including blood sugar and blood pressure.
            h4.h4 How does telemedicine work?
            p Telemedicine can be simple or complex. It can be as simple as a provider setting up HIPAA compliant video conferencing software. Some providers may have a complete virtual clinic solution that includes a virtual waiting room, HER and payment portal. Hospitals and larger medical groups may have a custom telehealth solution build for them to meet their needs.
            h4.h4 How are telemedicine visits conducted?
            p The most common type of telemedicine is a video call between patient and doctor. A more comprehensive visit may include the use of vital signs monitors.
            h4.h4 What is the difference between telemedicine and telehealth?
            p According to the <a href="https://www.who.int/" target="_blank" rel="nofollow">World Health Organization</a>, telemedicine is “healing from a distance.” Physicians apply telemedicine to transmit digital imaging, video consulting and remote medical diagnosis. Telemedicine can be used to replace non-emergency in-person doctor visits.
            p Telehealth is “the utilization of electronic information and telecommunication technologies to support and promote long-distance clinical health care, patient and professional health education, public health and health administration,” according to healthIT.gov. While they sound like the same thing, telehealth covers non-clinical events including administrative meetings, medical education and physician training.
            h4.h4 How can telemedicine be applied?
            p By using telemedicine, doctors have the opportunity to connect with patients despite their geography. Patients who put off doctor visits, because they could not get to the office, can now access healthcare. Telemedicine can be used to treat a wide range of health issues. Here are the main applications for telemedicine today.
            h4.h4 Chronic Diseases
            p Using medical devices, doctors can monitor patients with chronic diseases remotely. Touchscreens allow providers to access a patient’s heart rate, blood pressure, glucose and more.
            h4.h4 Medication
            p Seniors are more likely to forget to take their medicine. Healthcare professionals can use telemedicine features to monitor when/if a patient has taken their medicine.
            h4.h4 Emergency Rooms
            p The ER is among the most expensive and overcrowded aspects of healthcare. If more patients used telemedicine, more patients could avoid emergency rooms and reduce wait times for patients who truly require immediate care.
            h4.h4 Second Opinions
            p It’s often wise to get a second opinion, but it can be difficult to attend multiple doctor visits. Telemedicine allows patients to get a second opinion virtually. You can send your medical images to a second physician through a secure website or email server.
            h4.h4 Summary
            p Telemedicine has been most beneficial to patients with primary care concerns, but it can be used to assist medical specialties including radiology, mental health, pediatric and dermatology as well. Telemedicine is a safe, secure and convenient way to see your doctor and address your non-emergency health concerns. 