extends layout

block content
    section
        .container Pricing




	section.schedule-first-visit-section
		.container.container--scfivi
			.scfivi-flex
				.scfivi-flex__text
					h2.scfivi__title Schedule your first video visit
					.scfivi_desc Rest assured, we got you covered.
					a.btn.btn--scfivi-connect(href="") Connect to a Doctor
				.scfivi-flex__phone
					img(src="new/images/first-visit-pic.png", alt="")

