extends layout

block content
	section.newsroom-section
		.container.container-newsroom
			.newsroom-labeltop Newsroom
			h1.newsroom-title Telemedicine in the news
			.newsroom-flex
				a.newsroom-item(href="")
					.newsroom-item__pic
						img(src="", alt="")
					.newsroom-item__title How 'telehealth' may replace doctor visits in major cities amid a shortage of physicians
					.newsroom-item__sub yahoo.com - Trent Gillies

				a.newsroom-item(href="")
					.newsroom-item__pic
						img(src="", alt="")
					.newsroom-item__title When there's a hurricane between you and the hospital, telemedicine could save the day
					.newsroom-item__sub Popular Science - Marlene Cimons

				a.newsroom-item(href="")
					.newsroom-item__pic
						img(src="", alt="")
					.newsroom-item__title Popular Science - Marlene Cimons
					.newsroom-item__sub The Washington Post - Steven Findlay

				a.newsroom-item(href="")
					.newsroom-item__pic
						img(src="", alt="")
					.newsroom-item__title Telemedicine opening doors to specialty care for inmates
					.newsroom-item__sub salon.com - Michelle Andrews

				a.newsroom-item(href="")
					.newsroom-item__pic
						img(src="", alt="")
					.newsroom-item__title Telemedicine opening doors to specialty care for inmates
					.newsroom-item__sub salon.com - Michelle Andrews

				a.newsroom-item(href="")
					.newsroom-item__pic
						img(src="", alt="")
					.newsroom-item__title Telemedicine opening doors to specialty care for inmates
					.newsroom-item__sub salon.com - Michelle Andrews

		.container.container--hq-healthcare

			.hq-healthcare
				.hq-healthcare-flex
					.hq-healthcare-flex__left
						h2.hq-healthcare-flex__title High-quality  healthcare 24/7
						.hq-healthcare-flex__desc From  the comfort of your own home
						a.btn.hq-healthcare-flex__btn Get Started
					.hq-healthcare-flex__right
						img(src="./new/images/newsroom-banner-pic.png", alt="")



		.container.container-newsroom
			.newsroom-flex
				a.newsroom-item(href="")
					.newsroom-item__pic
						img(src="", alt="")
					.newsroom-item__title How 'telehealth' may replace doctor visits in major cities amid a shortage of physicians
					.newsroom-item__sub yahoo.com - Trent Gillies

				a.newsroom-item(href="")
					.newsroom-item__pic
						img(src="", alt="")
					.newsroom-item__title When there's a hurricane between you and the hospital, telemedicine could save the day
					.newsroom-item__sub Popular Science - Marlene Cimons

				a.newsroom-item(href="")
					.newsroom-item__pic
						img(src="", alt="")
					.newsroom-item__title Popular Science - Marlene Cimons
					.newsroom-item__sub The Washington Post - Steven Findlay

				a.newsroom-item(href="")
					.newsroom-item__pic
						img(src="", alt="")
					.newsroom-item__title Telemedicine opening doors to specialty care for inmates
					.newsroom-item__sub salon.com - Michelle Andrews

				a.newsroom-item(href="")
					.newsroom-item__pic
						img(src="", alt="")
					.newsroom-item__title Telemedicine opening doors to specialty care for inmates
					.newsroom-item__sub salon.com - Michelle Andrews

				a.newsroom-item(href="")
					.newsroom-item__pic
						img(src="", alt="")
					.newsroom-item__title Telemedicine opening doors to specialty care for inmates
					.newsroom-item__sub salon.com - Michelle Andrews
			.newsroom-showmore-wrap
				.newsroom-showmore Show More
