extends layout
block variables
    - var body_class = 'gray_bg'
block content
    section.pagetitle
        .pagetitle__blue-text.center Pricing
        h1.pagetitle__title.h1.center Peace of mind that doesn’t break the bank
        .pagetitle__subtitle.h4.center Choose a monthly plan
