extends layout
block variables
	- var body_class = 'white_bg'
block content
	section.help-center-top.container
		.help-center-top__inner
			.help-center-top-label Help Center
			h1.h1.help-center-title
				span.dd Have a question about telemedicine? #[br] We’ve got the answers.
				span.dm Have a question? We’ve got the answers.

			.input-text-wrap.input-text-wrap--gray.input-text--search
				img.input-text-pic(src="new/images/search.svg", alt="")
				input.textinp.textinp--gray(type="text", name=""  placeholder="Search")

	section.faq-accordeons-section.container
		.h-section-5__accordeons-wrap.faq-accordeons-wrap.js-h-section-5__accordeons
			.h-section-5__accordeon
				.h-section-5__accordeon-top What is LiveMedConnect?
				.h-section-5__accordeon-main With LiveMedConnect, you can access a doctor from your home, office, or on the go- 24/7/365. Our Board Certified doctors can visit with you either by phone or secure video to help treat any non-emergency medical conditions. Our doctors can diagnose your symptoms, prescribe medication, and send prescriptions to your pharmacy of choice.

			.h-section-5__accordeon
				.h-section-5__accordeon-top Is LiveMedConnect appropriate for every medical condition?
				.h-section-5__accordeon-main With LiveMedConnect, you can access a doctor from your home, office, or on the go- 24/7/365. Our Board Certified doctors can visit with you either by phone or secure video to help treat any non-emergency medical conditions. Our doctors can diagnose your symptoms, prescribe medication, and send prescriptions to your pharmacy of choice.
			.h-section-5__accordeon
				.h-section-5__accordeon-top  What are the most common conditions you treat?
				.h-section-5__accordeon-main With LiveMedConnect, you can access a doctor from your home, office, or on the go- 24/7/365. Our Board Certified doctors can visit with you either by phone or secure video to help treat any non-emergency medical conditions. Our doctors can diagnose your symptoms, prescribe medication, and send prescriptions to your pharmacy of choice.
			.h-section-5__accordeon
				.h-section-5__accordeon-top  How do I sign up for LiveMedConnect or activate my LiveMedConnect account?
				.h-section-5__accordeon-main With LiveMedConnect, you can access a doctor from your home, office, or on the go- 24/7/365. Our Board Certified doctors can visit with you either by phone or secure video to help treat any non-emergency medical conditions. Our doctors can diagnose your symptoms, prescribe medication, and send prescriptions to your pharmacy of choice.
			.h-section-5__accordeon
				.h-section-5__accordeon-top  When can I start using my LiveMedConnect service?
				.h-section-5__accordeon-main With LiveMedConnect, you can access a doctor from your home, office, or on the go- 24/7/365. Our Board Certified doctors can visit with you either by phone or secure video to help treat any non-emergency medical conditions. Our doctors can diagnose your symptoms, prescribe medication, and send prescriptions to your pharmacy of choice.
			.h-section-5__accordeon
				.h-section-5__accordeon-top When is LiveMedConnect available?
				.h-section-5__accordeon-main With LiveMedConnect, you can access a doctor from your home, office, or on the go- 24/7/365. Our Board Certified doctors can visit with you either by phone or secure video to help treat any non-emergency medical conditions. Our doctors can diagnose your symptoms, prescribe medication, and send prescriptions to your pharmacy of choice.
			.h-section-5__accordeon
				.h-section-5__accordeon-top Where is LiveMedConnect available?
				.h-section-5__accordeon-main With LiveMedConnect, you can access a doctor from your home, office, or on the go- 24/7/365. Our Board Certified doctors can visit with you either by phone or secure video to help treat any non-emergency medical conditions. Our doctors can diagnose your symptoms, prescribe medication, and send prescriptions to your pharmacy of choice.
			.h-section-5__accordeon
				.h-section-5__accordeon-top How much does it cost to use LiveMedConnect?
				.h-section-5__accordeon-main With LiveMedConnect, you can access a doctor from your home, office, or on the go- 24/7/365. Our Board Certified doctors can visit with you either by phone or secure video to help treat any non-emergency medical conditions. Our doctors can diagnose your symptoms, prescribe medication, and send prescriptions to your pharmacy of choice.
			.h-section-5__accordeon
				.h-section-5__accordeon-top Can LiveMedConnect be accessed on mobile devices?
				.h-section-5__accordeon-main With LiveMedConnect, you can access a doctor from your home, office, or on the go- 24/7/365. Our Board Certified doctors can visit with you either by phone or secure video to help treat any non-emergency medical conditions. Our doctors can diagnose your symptoms, prescribe medication, and send prescriptions to your pharmacy of choice.
			.h-section-5__accordeon
				.h-section-5__accordeon-top Who are the LiveMedConnect doctors?
				.h-section-5__accordeon-main With LiveMedConnect, you can access a doctor from your home, office, or on the go- 24/7/365. Our Board Certified doctors can visit with you either by phone or secure video to help treat any non-emergency medical conditions. Our doctors can diagnose your symptoms, prescribe medication, and send prescriptions to your pharmacy of choice.
			.h-section-5__accordeon
				.h-section-5__accordeon-top Can a provider prescribe medication as part of an LiveMedConnect visit?
				.h-section-5__accordeon-main With LiveMedConnect, you can access a doctor from your home, office, or on the go- 24/7/365. Our Board Certified doctors can visit with you either by phone or secure video to help treat any non-emergency medical conditions. Our doctors can diagnose your symptoms, prescribe medication, and send prescriptions to your pharmacy of choice.
			.h-section-5__accordeon
				.h-section-5__accordeon-top Is LiveMedConnect safe and private?
				.h-section-5__accordeon-main With LiveMedConnect, you can access a doctor from your home, office, or on the go- 24/7/365. Our Board Certified doctors can visit with you either by phone or secure video to help treat any non-emergency medical conditions. Our doctors can diagnose your symptoms, prescribe medication, and send prescriptions to your pharmacy of choice.
			.h-section-5__accordeon
				.h-section-5__accordeon-top What system requirements do I need for LiveMedConnect videoconferencing?
				.h-section-5__accordeon-main With LiveMedConnect, you can access a doctor from your home, office, or on the go- 24/7/365. Our Board Certified doctors can visit with you either by phone or secure video to help treat any non-emergency medical conditions. Our doctors can diagnose your symptoms, prescribe medication, and send prescriptions to your pharmacy of choice.
			.h-section-5__accordeon
				.h-section-5__accordeon-top I have a question that isn’t listed here. Can you help me?
				.h-section-5__accordeon-main With LiveMedConnect, you can access a doctor from your home, office, or on the go- 24/7/365. Our Board Certified doctors can visit with you either by phone or secure video to help treat any non-emergency medical conditions. Our doctors can diagnose your symptoms, prescribe medication, and send prescriptions to your pharmacy of choice.

	section.container.h-section-1.h-section-1--faq
		.h-section-1__inner
			.h-section-1__content
				h2.h2 Connect to a live doctor when you need it most
				.h-section-1__image-mobile
					img(src="/new/images/homepage-pic-1.png" alt="")
				.h-section-1__btns
					a.btn(href="") Connect to a Doctor
			.h-section-1__image
				img(src="/new/images/homepage-pic-1.png" alt="")

